extends layout

block nav
  h1 #{title}
  ul(class='nav nav-pills')
    if channelName != "Home"
        li(class='nav-item')
            a(class='nav-link', href='/') #[i(class='fas fa-arrow-left')] Back to Home
    li(class='nav-item')
      a(class='nav-link', href='') #[i(class='fas fa-redo')] Refresh
    li(class='nav-item')
      a(class='nav-link', href='/thumbnailer/#{channelPath}') #[i(class='fas fa-images')] Thumbnailer
    li(class='nav-item')
      a(class='nav-link', href='/rvideo/#{channelPath}') #[i(class='fas fa-random')] Randomize
    li(class='nav-item')
        a(class='nav-link', href='/rvideo/#{channelPath}/lock') #[i(class='fas fa-lock')] Locked Player
    li(class='nav-item')
        a(class='nav-link', href='/video/#{channelPath}/auto/#{videos[0]}') #[i(class='fas fa-play')] Auto Play
    li(class='nav-item')
      a(class='nav-link disabled', href='#') #[i(class='fas fa-video')] Total videos: #{videos.length}
  .mb-3

block content
  .container-fluid
    .card-columns
      each channel in channels
          a(href='/#{channel}/')
            .card
              .card-body
                h5(class='card-title') #{channel}
                
  .container-fluid
    .card-columns
      each video in videos
          a(href='/video/#{channelPath}/loop/' + video)
            .card
              img(src='/Thumbnails/' + video + '.jpg', class='card-img-top')
              .card-body
                h5(class='card-title') #{video}
