extends layout

block extra_head
    script(defer src='/javascripts/reloadEndedVideo.js')
    link(rel='stylesheet', href='/stylesheets/style_dark.css')

block nav
  ul(class='nav nav-pills')
    if lock && lock != 'hard-lock'
      li(class='nav-item')
        a(class='btn btn-dark', href='/rvideo/#{channelPath}') #[i(class='fas fa-lock-open')]
      li(class='nav-item')
        a(class='btn btn-dark', href='/rvideo/#{channelPath}/hard-lock') #[i(class='fas fa-eye-slash')]
    else if !lock
      li(class='nav-item')
        a(class='btn btn-dark', href='#{backPath}') #[i(class='fas fa-arrow-left')] Back to #{channelName}
      li(class='nav-item')
        a(class='btn btn-dark', href='/rvideo/#{channelPath}') #[i(class='fas fa-random')] Randomize
      li(class='nav-item')
        a(class='btn btn-dark', href='/rvideo/#{channelPath}/lock') #[i(class='fas fa-lock')] Locked Player
      li(class='nav-item')
        a(class='btn btn-dark', href='/video/#{channelPath}/auto/#{currentName}') #[i(class='fas fa-play')] Auto
    if !lock || (lock && lock != 'hard-lock')
        li(class='nav-item')
          a(class='btn btn-dark disabled', href='#') #[i(class='fas fa-video')] Now playing: #{currentName}

block content
    .container-fluid
        .embed-responsive.embed-responsive-16by9
            if lock 
                video(id='video_payer' src='/Videos/' + filePath autoplay='')
            else
                video(id='video_payer' src='/Videos/' + filePath controls='' autoplay='')


