extends layout

block extra_head
    script(defer src='/javascripts/reloadEndedVideo.js')
    link(rel='stylesheet', href='/stylesheets/style_dark.css')

block nav
  ul(class='nav nav-pills')
    if lock && lock != 'hard-lock'
      li(class='nav-item')
        a(class='btn btn-dark', href='/video/#{channelPath}/#{mode}/#{currentName}') #[i(class='fas fa-lock-open')]
      li(class='nav-item')
        a(class='btn btn-dark', href='/video/#{channelPath}/#{mode}/#{currentName}/hard-lock') #[i(class='fas fa-eye-slash')]
    else if !lock
      li(class='nav-item')
        a(class='btn btn-dark', href='#{backPath}') #[i(class='fas fa-arrow-left')] Back to #{channelName}
      li(class='nav-item')
        a(class='btn btn-dark', href='/rvideo/#{channelPath}') #[i(class='fas fa-random')] Randomize
      li(class='nav-item')
        a(class='btn btn-dark', href='/video/#{channelPath}/#{mode}/#{currentName}/lock') #[i(class='fas fa-lock')] Locked Player
      li(class='nav-item')
        a(class='btn btn-dark', href='/video/#{channelPath}/#{mode}/#{prevFile}') #[i(class='fas fa-backward')] Prev
      if mode == 'loop'
          li(class='nav-item')
            a(class='btn btn-dark', href='/video/#{channelPath}/auto/#{currentName}') #[i(class='fas fa-play')] Auto
      else
          li(class='nav-item')
            a(class='btn btn-dark', href='/video/#{channelPath}/loop/#{currentName}') #[i(class='fas fa-pause')] Loop
      li(class='nav-item')
        a(class='btn btn-dark', href='/video/#{channelPath}/#{mode}/#{nextFile}') #[i(class='fas fa-forward')] Next
    if !lock || (lock && lock != 'hard-lock')
        li(class='nav-item')
          a(class='btn btn-dark disabled', href='#') #[i(class='fas fa-video')] Now playing: #{currentName}

block content
    .container-fluid
        .embed-responsive.embed-responsive-16by9
            if mode == 'auto'
                if lock
                    video(id='video_payer' src='/Videos/' + filePath autoplay='' class='autoNext' next_link='/video/#{channelPath}/#{mode}/#{nextFile}/lock')
                else
                    video(id='video_payer' src='/Videos/' + filePath controls='' autoplay='' class='autoNext' next_link='/video/#{channelPath}/#{mode}/#{nextFile}')
            else
                if lock
                    video(id='video_payer' src='/Videos/' + filePath autoplay='' loop='')
                else
                    video(id='video_payer' src='/Videos/' + filePath controls='' autoplay='' loop='')
