extends layout

block extra_head
    script(defer src='/javascripts/reloadEndedVideo.js')
    link(rel='stylesheet', href='/stylesheets/style_dark.css')

block nav
  if !lock
    ul(class='nav nav-pills')
      li(class='nav-item')
        a(class='nav-link', href='#{backPath}') #[i(class='fas fa-arrow-left')] Back to #{channelName}
      li(class='nav-item')
        a(class='nav-link', href='/rvideo/#{channelPath}') #[i(class='fas fa-random')] Randomize
      li(class='nav-item')
        a(class='nav-link', href='/rvideo/#{channelPath}/lock') #[i(class='fas fa-lock')] Locked Player
      li(class='nav-item')
        a(class='nav-link', href='/video/#{channelPath}/#{mode}/#{prevFile}') #[i(class='fas fa-backward')] Prev
      if mode == 'loop'
          li(class='nav-item')
            a(class='nav-link', href='/video/#{channelPath}/auto/#{currentName}') #[i(class='fas fa-play')] Auto
      else
          li(class='nav-item')
            a(class='nav-link', href='/video/#{channelPath}/loop/#{currentName}') #[i(class='fas fa-pause')] Loop
      li(class='nav-item')
        a(id='next_link', class='nav-link', href='/video/#{channelPath}/#{mode}/#{nextFile}') #[i(class='fas fa-forward')] Next
      li(class='nav-item')
        a(class='nav-link disabled', href='#') #[i(class='fas fa-video')] Now playing: #{currentName}

block content
    .container-fluid
        .embed-responsive.embed-responsive-16by9
            if mode == 'auto'
                video(id='video_payer' src='/Videos/' + filePath controls='' autoplay='' class='autoNext')
            else
                video(id='video_payer' src='/Videos/' + filePath controls='' autoplay='' loop='')
